<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API para visualização de postagens e albuns</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<!--Pagina main-->
<body style="background-color: rgb(207, 207, 238);">
    <br />
<div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded-pill">
            <img class="rounded-pill" src="/img/iCloud.jpg" width="150" height="80">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                <div class="container">
                  <a class="nav-link" href="/postagens">Postagens</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/albuns">Albuns</a>
                </li>&nbsp&nbsp&nbsp&nbsp
                <li class="nav-item">
                  <a class="nav-link" href="/todos">To-dos</a>
                </li>
                 </div>
              </ul>
            </div>
          </nav>
    <br /><br />
    </div>
  {{{body}}}
<br /><br />
<div style="background-color:rgb(182, 179, 179)">
  <center>
    <div style="padding: 15px;">
       <h4>© Copyright 2020 - Marcos Davi</h4>
       <label>Aplicação para teste técnico</label>
    </div>
  </center>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="/controller/controller.js"></script>
</body>
</html>