<div class="container">
    <div class="card-group">
        <div class="card rounded-lg">
              <img src="/img/insta.jpg" class="card-img-top" width="150" height="300">
            <div class="card-body">
                <a href="/postagens" class="card-title" style="color: black;"><h4>Postagens</h4></a>
                <p class="card-text">Suas melhores postagens nas redes sociais.</p>
            </div>
        </div>
    <div class="card rounded-lg" >
                <img src="/img/albuns.jpg" class="card-img-top" width="250" height="300">
            <div class="card-body">
                <a href="/albuns" class="card-title" style="color: black;"><h4>Albuns</h4></a>
                <p class="card-text">Seus albuns em família</p>
            </div>
        </div>
    </div>
<br />
<div class="card rounded-lg" >
                <img src="/img/afazeres.png" class="card-img-top" width="150" height="350">
            <div class="card-body">
                <a href="/todos" class="card-title" style="color: black;"><h4>To-dos(Afazeres)</h4></a>
                <p class="card-text">Organize suas tarefas diárias e compromissos.</p>
            </div>
        </div>
    </div>
</div>
</div>